/dts-v1/;

#include "bcm2710.dtsi"
#include "bcm2709-rpi.dtsi"
#include "bcm283x-rpi-smsc9514.dtsi"
#include "bcm283x-rpi-csi1-2lane.dtsi"
#include "bcm283x-rpi-i2c0mux_0_44.dtsi"
#include "bcm271x-rpi-bt.dtsi"
#include <dt-bindings/iio/maxim,max11300.h>

/ {
	compatible = "raspberrypi,3-model-b", "brcm,bcm2837";
	model = "Raspberry Pi 3 Model B";

	chosen {
		bootargs = "coherent_pool=1M 8250.nr_uarts=1 snd_bcm2835.enable_compat_alsa=0 snd_bcm2835.enable_hdmi=1";
	};

	aliases {
		serial0 = &uart1;
		serial1 = &uart0;
		mmc1 = &mmcnr;
	};
};

&gpio {
	spi0_pins: spi0_pins {
		brcm,pins = <9 10 11>;
		brcm,function = <4>; /* alt0 */
	};

	spi0_cs_pins: spi0_cs_pins {
		brcm,pins = <8 7>;
		brcm,function = <1>; /* output */
	};

	i2c0_pins: i2c0 {
		brcm,pins = <0 1>;
		brcm,function = <4>;
	};

	i2c1_pins: i2c1 {
		brcm,pins = <2 3>;
		brcm,function = <4>;
	};

	i2s_pins: i2s {
		brcm,pins = <18 19 20 21>;
		brcm,function = <4>; /* alt0 */
	};

	sdio_pins: sdio_pins {
		brcm,pins =     <34 35 36 37 38 39>;
		brcm,function = <7>; // alt3 = SD1
		brcm,pull =     <0 2 2 2 2 2>;
	};

	bt_pins: bt_pins {
		brcm,pins = <43>;
		brcm,function = <4>; /* alt0:GPCLK2 */
		brcm,pull = <0>;
	};

	uart0_pins: uart0_pins {
		brcm,pins = <32 33>;
		brcm,function = <7>; /* alt3=UART0 */
		brcm,pull = <0 2>;
	};

	uart1_pins: uart1_pins {
		brcm,pins;
		brcm,function;
		brcm,pull;
	};

	audio_pins: audio_pins {
		brcm,pins = <40 41>;
		brcm,function = <4>;
	};
	
	key_pin: key_pin {
		brcm,pins = <23>;
		brcm,function = <0>;	
		brcm,pull = <1>; 	
	};

	key_pins: key_pins {
		brcm,pins = <23 24>;
		brcm,function = <0>;	
		brcm,pull = <1 1>; 	
	};

	led_pins: led_pins {
		brcm,pins = <27 22 26>;
		brcm,function = <1>;	/* Output */
		brcm,pull = <1 1 1>;	/* Pull down */
	};

	cs_pins: cs_pins {
		brcm,pins = <23>;
		brcm,function = <1>;	/* Output */
		brcm,pull = <0>; 	/* none */
	};

	accel_int_pin: accel_int_pin {
		brcm,pins = <23>;
		brcm,function = <0>;	/* Input */
		brcm,pull = <0>; 	/* none */
	};
		
};

&mmcnr {
	pinctrl-names = "default";
	pinctrl-0 = <&sdio_pins>;
	bus-width = <4>;
	status = "okay";
};

&soc {
	virtgpio: virtgpio {
		compatible = "brcm,bcm2835-virtgpio";
		gpio-controller;
		#gpio-cells = <2>;
		firmware = <&firmware>;
		status = "okay";
	};

	hellokeys {
		compatible = "arrow,hellokeys";
	};

	linked_memory {
		compatible = "arrow,memory";
	};

	sdma_m2m {
		compatible = "arrow,sdma_m2m";

	};

	int_key {
		compatible = "arrow,intkey";

		pinctrl-names = "default";
		pinctrl-0 = <&key_pin>;
		gpios = <&gpio 23 0>;
		interrupts = <23 1>; 
		interrupt-parent = <&gpio>;
	};

	int_key_wait {
		compatible = "arrow,intkeywait";
		pinctrl-names = "default";
		pinctrl-0 = <&key_pin>;
		gpios = <&gpio 23 0>;
		interrupts = <23 1>; 
		interrupt-parent = <&gpio>;
	};

	int_gpio {
		compatible = "arrow,int_gpio_expand";
		pinctrl-names = "default";
		interrupt-parent = <&cy8c9520a>;
		interrupts = <0  IRQ_TYPE_EDGE_BOTH>;
	};

	ledpwm {
		compatible = "arrow,ledpwm";

		pinctrl-names = "default";
		pinctrl-0 = <&key_pins &led_pins>;

		bp1 {
			label = "MIKROBUS_KEY_1";
			gpios = <&gpio 23 GPIO_ACTIVE_LOW>;
			trigger = "falling";
		};
		
		bp2 {
			label = "MIKROBUS_KEY_2";
			gpios = <&gpio 24 GPIO_ACTIVE_LOW>;
			trigger = "falling";
		};

		ledred {
			label = "led";
			colour = "red";
			gpios = <&gpio 27 GPIO_ACTIVE_LOW>;
		};
		
		ledgreen {
			label = "led";
			colour = "green";
			gpios = <&gpio 22 GPIO_ACTIVE_LOW>;
		};

		ledblue {
			label = "led";
			colour = "blue";
			gpios = <&gpio 26 GPIO_ACTIVE_LOW>;
		};

	
	};

	ledred {
		compatible = "arrow,RGBleds";
		label = "ledred";
		pinctrl-0 = <&led_pins>;
	};

	ledgreen {
		compatible = "arrow,RGBleds";
		label = "ledgreen";
	};

	ledblue {
		compatible = "arrow,RGBleds";
		label = "ledblue";
	};

	ledclassRGB {
	
		compatible = "arrow,RGBclassleds";
		reg = <0x7e200000 0xb4>;
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins>;

		red {
			label = "red";
		};

		green {
			label = "green";
		};

		blue {
			label = "blue";
			//linux,default-trigger = "heartbeat";
		};
	};

	UIO {
		compatible = "arrow,UIO";
		reg = <0x7e200000 0x1000>;	
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins>;
	};

};

&firmware {
	expgpio: expgpio {
		compatible = "raspberrypi,firmware-gpio";
		gpio-controller;
		#gpio-cells = <2>;
		status = "okay";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins &bt_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

&bt {
	max-speed = <921600>;
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
	cs-gpios = <&gpio 8 1>, <&gpio 7 1>;

	/*spidev0: spidev@0{
		compatible = "spidev";
		reg = <0>;	
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <125000000>;
	};*/

	/*spidev1: spidev@1{
		compatible = "spidev";
		reg = <1>;	
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <125000000>;
	};*/

	/*ADC: ltc2422@0 {
			compatible = "arrow,ltc2422";
			spi-max-frequency = <2000000>;
			reg = <0>;
			pinctrl-0 = <&key_pin>;
			int-gpios = <&gpio 23 0>;
	};*/

	max11300@0 {
		#size-cells = <0>;
		#address-cells = <1>;
		compatible = "maxim,max11300";
		reg = <0>;

		spi-max-frequency = <10000000>;

		channel@0 {
			reg = <0>;
			port-mode = <PORT_MODE_7>;
			AVR = <0>;
			adc-range = <ADC_VOLTAGE_RANGE_PLUS10>;
			adc-samples = <ADC_SAMPLES_1>;
		};
		channel@1 {
			reg = <1>;
			port-mode = <PORT_MODE_7>;
			AVR = <0>;
			adc-range = <ADC_VOLTAGE_RANGE_PLUS10>;
			adc-samples = <ADC_SAMPLES_128>;
		};
		channel@2 {
			reg = <2>;
			port-mode = <PORT_MODE_5>;
			dac-range = <DAC_VOLTAGE_RANGE_PLUS10>;
		};
		channel@3 {
			reg = <3>;
			port-mode = <PORT_MODE_5>;
			dac-range = <DAC_VOLTAGE_RANGE_PLUS10>;
		};
		channel@4 {
			reg = <4>;
			port-mode = <PORT_MODE_8>;
			AVR = <0>;
			adc-range = <ADC_VOLTAGE_RANGE_PLUS10>;
			adc-samples = <ADC_SAMPLES_1>;
			negative-input = <5>;
		};
		channel@5 {
			reg = <5>;
			port-mode = <PORT_MODE_9>;
			AVR = <0>;
			adc-range = <ADC_VOLTAGE_RANGE_PLUS10>;
		};
		channel@6 {
			reg = <6>;
			port-mode = <PORT_MODE_6>;
			AVR = <0>;
			dac-range = <DAC_VOLTAGE_RANGE_PLUS10>;
		};
		channel@7 {
			reg = <7>;
			port-mode = <PORT_MODE_1>;
		};
		channel@8 {
			reg = <8>;
			port-mode = <PORT_MODE_3>;
		};
		channel@9 {
			reg = <9>;
			port-mode = <PORT_MODE_0>;
		};
		channel@10 {
			reg = <10>;
			port-mode = <PORT_MODE_0>;
		};
		channel@11 {
			reg = <11>;
			port-mode = <PORT_MODE_0>;
		};
		channel@12 {
			reg = <12>;
			port-mode = <PORT_MODE_0>;
		};
		channel@13 {
			reg = <13>;
			port-mode = <PORT_MODE_0>;
		};
		channel@14 {
			reg = <14>;
			port-mode = <PORT_MODE_0>;
		};
		channel@15 {
			reg = <15>;
			port-mode = <PORT_MODE_0>;
		};
		channel@16 {
			reg = <16>;
			port-mode = <PORT_MODE_0>;
		};
		channel@17 {
			reg = <17>;
			port-mode = <PORT_MODE_0>;
		};
		channel@18 {
			reg = <18>;
			port-mode = <PORT_MODE_1>;
		};
		channel@19 {
			reg = <19>;
			port-mode = <PORT_MODE_3>;
		};
	};

	/*Accel: ADXL345@0 {
			compatible = "arrow,adxl345";
			spi-max-frequency = <5000000>;
			spi-cpol;
			spi-cpha;
			reg = <0>;
			pinctrl-0 = <&accel_int_pin>;
			int-gpios = <&gpio 23 0>;
			interrupts = <23 1>; 
			interrupt-parent = <&gpio>;
	};*/
};

&i2c0if {
	clock-frequency = <100000>;
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;
	status = "okay";

	ltc2607@72 {
		compatible = "arrow,ltc2607";
		reg = <0x72>;
	};
	ltc2607@73 {
		compatible = "arrow,ltc2607";
		reg = <0x73>;
	};

	ioexp@38 {
		 compatible = "arrow,ioexp";
		 reg = <0x38>;
	};

	ioexp@39 {
		 compatible = "arrow,ioexp";
		 reg = <0x39>;
	};	

	ltc3206: ltc3206@1b {
		compatible = "arrow,ltc3206";
		reg = <0x1b>;
		pinctrl-0 = <&cs_pins>;
		gpios = <&gpio 23 GPIO_ACTIVE_LOW>;
					
		led1r {
			label = "red";
		};

		led1b {
			label = "blue";
		};
					
		led1g {
			label = "green";
		};
					
		ledmain {
			label = "main";
		};
					
		ledsub {
			label = "sub";
		};
	};

	adxl345@1d {
		compatible = "arrow,adxl345";
		reg = <0x1d>;
	};

	cy8c9520a: cy8c9520a@20 {
		compatible = "cy8c9520a";
		reg = <0x20>;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-controller;
		#gpio-cells = <2>;
			
		interrupts = <23 1>; 
		interrupt-parent = <&gpio>;
		
		#pwm-cells = <2>;
		pwm0 = <20>; // pwm not supported
		pwm1 = <3>;
		pwm2 = <20>; // pwm not supported
		pwm3 = <2>;

		pinctrl-names = "default";
		pinctrl-0 = <&accel_int_pin &cy8c9520apullups &cy8c9520apulldowns &cy8c9520adrivestrength>;
		
		cy8c9520apullups: pinmux1 {
			pins = "gpio0", "gpio1";
			bias-pull-up;
		};

		cy8c9520apulldowns: pinmux2 {
			pins = "gpio2";
			bias-pull-down;
		};

		/* pwm channel */
		cy8c9520adrivestrength: pinmux3 {
			pins = "gpio3";
			drive-strength;
		};
	};
};

&i2c2 {
	clock-frequency = <100000>;
};

&i2s {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_pins>;
};

&leds {
	act_led: act {
		label = "led0";
		linux,default-trigger = "mmc0";
		gpios = <&virtgpio 0 0>;
	};

	pwr_led: pwr {
		label = "led1";
		linux,default-trigger = "input";
		gpios = <&expgpio 7 0>;
	};
};

&hdmi {
	hpd-gpios = <&expgpio 4 GPIO_ACTIVE_LOW>;
};

&audio {
	pinctrl-names = "default";
	pinctrl-0 = <&audio_pins>;
};

/ {
	__overrides__ {
		act_led_gpio = <&act_led>,"gpios:4";
		act_led_activelow = <&act_led>,"gpios:8";
		act_led_trigger = <&act_led>,"linux,default-trigger";

		pwr_led_gpio = <&pwr_led>,"gpios:4";
		pwr_led_activelow = <&pwr_led>,"gpios:8";
		pwr_led_trigger = <&pwr_led>,"linux,default-trigger";
	};
};
